<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<title>Hero Dice</title>
		<meta name="description" content="A simple dice roller for Tiny Epic Heroes (and other systems)">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta property="og:title" content="Hero Dice">
		<meta property="og:type" content="">
		<meta property="og:url" content="">
		<meta property="og:image" content="">

		<link rel="manifest" href="site.webmanifest">
		<link rel="apple-touch-icon" href="icon.png">
		<!-- Place favicon.ico in the root directory -->

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

		<meta name="theme-color" content="#fafafa">
	</head>

	<body>

		<div id="app">
			<div class="intro">
				<span class="intro-text">Roll how many dice?</span>
				<button v-on:click="screenSwitch()" class="options-toggle" >
					<span class="options-toggle-bar"></span>
					<span class="options-toggle-bar"></span>
					<span class="options-toggle-bar"></span>
				</button>
			</div>
			<div class="display-container">
			<div v-bind:class="[prefDiceAmount]" class="dice-controls-wrapper d-flex">
				<button v-on:click="rollX(1)" class="dice dice-roller dice-1 flex-50">
					<span class="dice-number">1</span>
					<span class="dice-description">OK</span>
				</button>
				<button v-on:click="rollX(2)" class="dice dice-roller dice-2 flex-50">
					<span class="dice-number">2</span>
					<span class="dice-description">Good</span>
				</button>
				<button v-on:click="rollX(3)" class="dice dice-roller dice-3 flex-50">
					<span class="dice-number">3</span>
					<span class="dice-description">Excellent!</span>
				</button>
				<button v-on:click="rollX(4)" class="dice dice-roller dice-4 flex-50">
					<span class="dice-number">4</span>
					<span class="dice-description">Superhuman!</span>
				</button>
				<button v-if="prefDiceAmount === 'dice-6'" v-on:click="rollX(5)" class="dice dice-roller dice-5 flex-50">
					<span class="dice-number">5</span>
					<span class="dice-description">Superhuman!</span>
				</button>
				<button v-if="prefDiceAmount === 'dice-6'" v-on:click="rollX(6)" class="dice dice-roller dice-6 flex-50">
					<span class="dice-number">6</span>
					<span class="dice-description">Superhuman!</span>
				</button>
				<button v-on:click="prefDiceCount = 'lowest'" class="dice dice-control dice-low flex-25" v-bind:class="{active: diceLowest}">
					<span class="dice-icon">
						<svg class="dice-icon-el" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35" style="enable-background:new 0 0 35 35" xml:space="preserve"><path d="M21.019 26.213a.997.997 0 0 0-.707.293l-2.83 2.83-2.793-2.793a.999.999 0 1 0-1.414 1.414l3.5 3.5a.999.999 0 0 0 1.414 0l3.537-3.537a.999.999 0 0 0-.707-1.707zM17.5 12.431a1.819 1.819 0 1 0 0 3.638 1.819 1.819 0 0 0 0-3.638zm8-9.181h-16a3 3 0 0 0-3 3v16a3 3 0 0 0 3 3h16a3 3 0 0 0 3-3v-16a3 3 0 0 0-3-3zm1 19c0 .551-.449 1-1 1h-16c-.551 0-1-.449-1-1v-16c0-.551.449-1 1-1h16c.551 0 1 .449 1 1v16z"/></svg>
					</span>
					<span class="dice-description">Lowest</span>
				</button>
				<button v-on:click="multiDice = true" class="dice dice-multi flex-50">
					<span class="dice-number">Other</span>
				</button>
				<button v-on:click="prefDiceCount = 'highest'" class="dice dice-control dice-high flex-25" v-bind:class="{active: diceHighest}">
					<span class="dice-icon">
						<svg class="dice-icon-el" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35" style="enable-background:new 0 0 35 35" xml:space="preserve"><path d="M13.401 18.931a1.82 1.82 0 1 0 0 3.638 1.82 1.82 0 0 0 0-3.638zm0-4.81a1.82 1.82 0 1 0 0 3.638 1.82 1.82 0 0 0 0-3.638zm1.287-5.664 2.793-2.793 2.83 2.83a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414l-3.537-3.537a.999.999 0 0 0-1.414 0l-3.5 3.5a.999.999 0 1 0 1.414 1.414zm-1.287 15.285a1.819 1.819 0 1 0 0 3.638 1.819 1.819 0 0 0 0-3.638zm8.282-9.621a1.82 1.82 0 1 0 0 3.638 1.82 1.82 0 0 0 0-3.638zM25.5 9.75h-16a3 3 0 0 0-3 3v16a3 3 0 0 0 3 3h16a3 3 0 0 0 3-3v-16a3 3 0 0 0-3-3zm1 19c0 .551-.449 1-1 1h-16c-.551 0-1-.449-1-1v-16c0-.551.449-1 1-1h16c.551 0 1 .449 1 1v16zm-4.817-5.008a1.819 1.819 0 1 0 0 3.638 1.819 1.819 0 0 0 0-3.638zm0-4.811a1.82 1.82 0 1 0 0 3.638 1.82 1.82 0 0 0 0-3.638z"/></svg>
					</span>
					<span class="dice-description">Highest</span>
				</button>
			</div>
			<div id="log" v-bind:class="[prefDiceAmount]" class="log-wrapper">
				<div id="log-inner" class="log-inner-wrapper">
					<p class="log-entry"><strong>Results:</strong></p>
					<p v-for="entry in log" class="log-entry">
						{{entry}} = {{rollSum(entry)}}
					</p>
				</div>
			</div>
			</div>
			<transition name="fade" mode="out-in">
			<div v-if="roll.length > 0" v-on:click="clearRoll()" class="dice-display">
				<div class="dice-container d-flex flex-center">
					<button class="options-toggle options-toggle-close options-toggle-close-light">
						<span class="options-toggle-bar"></span>
						<span class="options-toggle-bar"></span>
					</button>
					<div v-for="dice in roll" class="dice-wrapper flex-50 flex-center" v-bind:data-value="dice">
						<div class="dice-result" v-bind:data-value="dice">
							{{ dice }}
						</div>
					</div>
					<p v-if="prefDiceCount === 'highest'" class="dice-max flex-100">Highest: <span>{{Math.max(...roll)}}</span></p>
					<p v-if="prefDiceCount === 'lowest'" class="dice-max flex-100">Lowest: <span>{{Math.min(...roll)}}</span></p>
					<p v-if="prefDiceCount === 'total'" class="dice-max dice-max-total flex-100">Total: <span>{{rollTotal}}</span></p>
					<p v-if="rollDescription" class="dice-max dice-max-total flex-100">{{rollDescription}}</p>

				</div>
			</div>
			</transition>
			<transition name="fade" mode="out-in">
			<div v-if="multiDice" class="dice-display">
				<button v-on:click="multiDice = false" class="options-toggle options-toggle-close options-toggle-close-light">
					<span class="options-toggle-bar"></span>
					<span class="options-toggle-bar"></span>
				</button>
				<div class="dice-container d-flex flex-center flex-column">
					<p class="dice-max">Enter number of dice:</p>
					<input v-model="diceNumber" id="dice-number" type="number" class="dice-input">
					<button v-on:click="rollMulti" class="dice-trigger">Roll</button>
				</div>
			</div>
			</transition>
			<transition name="slide" mode="out-in">
			<div v-if="screenOptions" class="options">
				<button v-on:click="screenSwitch()" class="options-toggle options-toggle-close">
					<span class="options-toggle-bar"></span>
					<span class="options-toggle-bar"></span>
				</button>

				<h2 class="options-title">Hero Dice</h2>
				<p>A super-simple dice roller designed for <strong>Tiny Epic Heroes</strong> that coincidentally works for several systems.</p>

				<h2>Options</h2>

				<div class="form-set">
					<input type="checkbox" id="preference-dice" v-model="prefDice">
					<label for="preference-dice">Play Dice Sounds?</label>
				</div>

				<div class="form-set">
					<input type="checkbox" id="preference-sound" v-model="prefSound">
					<label for="preference-sound">Play Silly Result Sounds?</label>
				</div>

				<div class="form-set">
					<label for="preference-dice-number">Visible Dice Pools</label>
					<select id="preference-dice-number" name="preference-number" class="options-select" v-model="prefDiceAmount">
						<option disabled value="">Please select one</option>
						<option value="dice-4">4 dice pools</option>
						<option value="dice-6">6 dice pools</option>
					</select>
				</div>

				<div class="form-set">
					<label for="preference-dice-number">Choose counting method:</label>
					<select id="preference-dice-number" name="preference-number" class="options-select" v-model="prefDiceCount">
						<option disabled value="">Please select one</option>
						<option value="highest">Highest Rolled</option>
						<option value="lowest">Lowest Rolled</option>
						<option value="total">Dice Total (Risus)</option>
					</select>
				</div>
			</div>
			</transition>
		</div>

		<script src="js/vendor/modernizr-3.11.7.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/app.js"></script>
	</body>

</html>
