*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

:root {
  --monospace: 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'IntelOne Mono', Inconsolata,
    Consolas, MonoLisa, Monoid, Menlo, Monaco, Andale Mono WT, Andale Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, monospace;
  --sans-serif: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* start light theme variables */
  --light-text-color: #111;
  --light-btn-background: linear-gradient(
    170deg,
    rgba(254, 254, 254, 1) 0%,
    rgba(242, 242, 242, 1) 100%
  );
  --btn-active-background: linear-gradient(
    135deg,
    rgba(240, 240, 240, 1) 0%,
    rgba(225, 225, 225, 1) 100%
  );
  --btn-active-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  --light-btn-border-light: rgba(255, 255, 255, 0.9);
  --light-btn-border-dark: rgba(230, 230, 230, 0.9);
  --light-btn-active-border-light: rgba(0, 0, 0, 0.2);
  --light-btn-label-shadow: rgba(255, 255, 255, 0.5);
  --light-btn-description-color: #aaa;
  --light-btn-offset-color: #fff;
  --light-btn-offset-background: linear-gradient(
    170deg,
    rgba(230, 230, 232, 1) 0%,
    rgba(215, 215, 217, 1) 100%
  );
  --light-btn-offset-active-background: linear-gradient(
    135deg,
    rgba(210, 210, 212, 1) 0%,
    rgba(195, 195, 197, 1) 100%
  );
  --light-btn-offset-border-light: rgba(245, 245, 247, 0.8);
  --light-btn-offset-border-dark: rgba(200, 200, 202, 1);
  --light-modal-background: rgba(255, 255, 255, 0.7);
  --light-result-background: #333333;
  --light-result-color: #ffffff;
  --light-result-border-start: #444444;
  --light-result-border-end: #383838;
  --light-result-background-lower: rgba(0, 0, 0, 1);
  --light-result-fail-background: #d00000;
  --light-result-fail-color: #ffffff;
  --light-result-fail-border-start: #dc2f02;
  --light-result-fail-border-end: #dc2f02;
  --light-result-fail-background-lower: #d00000;
  --light-result-crit-background: #52b788;
  --light-result-crit-color: #ffffff;
  --light-result-crit-border-start: #74c69d;
  --light-result-crit-border-end: #74c69d;
  --light-result-crit-background-lower: #52b788;
  --light-result-freeze-background: #90e0ef;
  --light-result-freeze-color: #03045e;
  --light-result-freeze-border-start: #ade8f4;
  --light-result-freeze-border-end: #ade8f4;
  --light-result-freeze-background-lower: #48cae4;
  --light-log-background: rgba(230, 230, 230, 1);
}

html,
body {
  /* font-size: 16px; */
  font-size: clamp(0.875rem, 0.625vw + 0.75rem, 1.375rem);
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: var(--sans-serif);
  text-rendering: optimizeLegibility;
  color: var(--text-color, #111);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background, #fff);
}

button,
input,
select {
  font-family: inherit;
  font-size: inherit;
}

select {
  font-size: 0.8125rem;
  padding: 0.125rem;
  color: var(--text-color);
}

input {
  border: 0;
}

input[type='number'] {
  border-radius: 0;
  background: var(--btn-background, var(--light-btn-background));
  color: var(--btn-color, var(--light-text-color));
  border-block-start: 1px solid var(--btn-border-light, var(--light-btn-border-dark));
  border-inline-start: 1px solid var(--btn-border-light, var(--light-btn-border-light));
  border-block-end: 1px solid var(--btn-border-dark, var(--light-btn-border-light));
  border-inline-end: 1px solid var(--btn-border-dark, var(--light-btn-border-dark));
}

strong {
  font-weight: 700;
}

.app {
  height: 100dvh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5dvh;
  border-bottom: 1px solid var(--btn-border-dark, var(--light-btn-border-dark));
}

.select-wrapper {
  position: relative;
  height: 100%;
}

.system-select {
  display: flex;
  border: 0;
  border-radius: 0;
  height: 100%;
  padding-inline-start: 0.5rem;
  padding-inline-end: 1.5rem;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  background: var(--btn-offset-background, var(--light-btn-offset-background));
  border-inline-end-width: 1px;
  border-inline-end-style: solid;
  border-inline-end-color: var(--btn-offset-border-dark, var(--light-btn-offset-border-dark));
  color: var(--text-color, var(--light-text-color));
}

.select-wrapper__icon {
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 0.25em;
  top: 50%;
  pointer-events: none;
  transform: translateY(-50%);
  z-index: 1;
}

.instructions {
  padding: 0.5rem;
  font-size: 0.825rem;
}

.main {
  display: grid;
  grid-template-rows: 1fr;
  flex-grow: 1;
}

.log {
  background-color: var(--log-background, var(--light-log-background));
  height: 20dvh;
  overflow-y: scroll;
  font-family: var(--monospace);
  font-size: 0.875rem;
}

.log__results {
  padding: 0.25rem 0.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  color: var(--log-color, var(--text-color));
  border-top: 1px solid var(--log-border, var(--light-btn-border-dark));
}

.log__time {
  color: var(--log-time-color, rgba(0, 0, 0, 0.25));
  font-size: 0.75em;
  flex-shrink: 0;
}

@media (orientation: landscape) {
  .header {
    height: 8dvh;
  }

  .main {
    grid-template-columns: repeat(3, 1fr);
  }

  .controls {
    grid-column: span 2;
  }

  .log {
    grid-column: span 1;
    height: 92dvh;
  }
}

.btn {
  background: var(--btn-background, var(--light-btn-background));
  text-align: center;
  border: 1px solid;
  position: relative;
  color: var(--btn-color, var(--light-text-color));
  border-top-color: var(--btn-border-light, var(--light-btn-border-light));
  border-left-color: var(--btn-border-light, var(--light-btn-border-light));
  border-right-color: var(--btn-border-dark, var(--light-btn-border-dark));
  border-bottom-color: var(--btn-border-dark, var(--light-btn-border-dark));
  border-radius: 0;
  transition:
    color 150ms ease-out,
    box-shadow 150ms ease-out,
    border-color 150ms ease-out,
    background 150ms ease-out,
    opacity 150ms ease-out;
}

.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn:active,
.btn.active {
  border-top-color: var(--btn-active-border-light, var(--light-btn-active-border-light));
  border-left-color: var(--btn-active-border-light, var(--light-btn-active-border-light));
  box-shadow: var(--btn-active-shadow, var(--light-btn-active-shadow));
  background: var(--btn-active-background, var(--light-btn-active-background));
}

.btn > span {
  display: block;
}

.btn > * {
  transition: transform 150ms ease-out;
}

.btn:active > *,
.btn.active > * {
  transform: translateY(3px);
}

.btn__label {
  display: block;
  font-weight: 900;
  font-size: var(--btn-label-size, 2.5rem);
  text-transform: uppercase;
  text-shadow:
    0 1px 0 var(--btn-label-shadow, var(--light-btn-label-shadow)),
    0 -1px 0 var(--btn-label-shadow-top, rgba(0, 0, 0, 0.2));
  line-height: 1;
}

.btn__label--small {
  --btn-label-size: 1.5rem;
}

.btn__description {
  display: block;
  color: var(--btn-description-color, var(--light-btn-description-color));
  font-size: 0.8125rem;
  text-transform: uppercase;
}

.btn--offset {
  --btn-background: var(--btn-offset-background, var(--light-btn-offset-background));
  --btn-border-light: var(--btn-offset-border-light, var(--light-btn-offset-border-light));
  --btn-border-dark: var(--btn-offset-border-dark, var(--light-btn-offset-border-dark));
  --btn-description-color: var(--btn-offset-description-color, var(--light-btn-description-color));
  --btn-color: var(--btn-offset-color, var(--light-text-color));
}

.btn--offset:active,
.btn--offset.active {
  --btn-active-background: var(
    --btn-offset-active-background,
    var(--light-btn-offset-active-background)
  );
}

.btn--settings,
.btn--other {
  height: 100%;
  flex-grow: 1;
  width: 100%;
}

.options {
  display: flex;
  height: var(--local-options-height, 15dvh);
}

.modal {
  position: fixed;
  inset: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  background-color: var(--modal-background, var(--light-modal-background));
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 3;
}

.result {
  width: 4.5rem;
  height: 4rem;
  display: grid;
  place-items: center;
  font-weight: 900;
  font-size: 1.75rem;
  border-radius: 0.5rem;
  background-color: var(--result-background, var(--light-result-background));
  color: var(--result-color, var(--light-result-color));
  border: 0;
  border-top: 2px #444444 solid;
  border-block-width: 2px;
  border-block-style: solid;
  border-block-start-color: var(--result-border-start, var(--light-result-border-start));
  border-block-end-color: var(--result-border-end, var(--light-result-border-end));
  position: relative;
  z-index: 2;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  animation-delay: var(--results-animation-delay, 0);
  box-shadow:
    0 0.4rem 0 var(--result-background-lower, var(--light-result-background-lower)),
    0 0.55rem 0 -1px var(--result-background-lower, var(--light-result-background-lower)),
    0 0.75rem 0 -3px var(--result-background-lower, var(--light-result-background-lower)),
    0 0.8rem 0.125rem -3px rgba(0, 0, 0, 0.5),
    0 0.82rem 0.5rem rgba(0, 0, 0, 0.15);
}

.critical-fail {
  --result-background: var(--result-fail-background, var(--light-result-fail-background));
  --result-color: var(--result-fail-color, var(--light-result-fail-color));
  --result-border-start: var(--result-fail-border-start, var(--light-result-fail-border-start));
  --result-border-end: var(--result-fail-border-end, var(--light-result-fail-border-end));
  --result-background-lower: var(
    --result-fail-background-lower,
    var(--light-result-fail-background-lower)
  );
  animation-name: shake;
  animation-duration: 200ms;
  animation-iteration-count: 3;
  animation-timing-function: ease-in;
}

@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.reroll {
  animation: reroll;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes reroll {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-0.75rem);
  }
  55% {
    transform: translateY(0.05rem);
  }
  65% {
    transform: translateY(-0.20rem);
  }
  70% {
    transform: translateY(0.05rem);
  }
  80% {
    transform: translateY(-0.125rem);
  }
  85% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(-0.0625rem);
  }
  100% {
    transform: translateY(0);
  }
}


.critical-success {
  --result-background: var(--result-crit-background, var(--light-result-crit-background));
  --result-color: var(--result-crit-color, var(--light-result-crit-color));
  --result-border-start: var(--result-crit-border-start, var(--light-result-crit-border-start));
  --result-border-end: var(--result-crit-border-end, var(--light-result-crit-border-end));
  --result-background-lower: var(
    --result-crit-background-lower,
    var(--light-result-crit-background-lower)
  );
  animation-name: jump;
  animation-duration: 1200ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes jump {
  0% {
    transform: translate(0, 0px) scale(1) rotateZ(0);
  }
  25% {
    transform: translate(0, -5px) scale(1) rotateZ(0);
  }
  50% {
    transform: translate(0, -5px) scale(1.1) rotateZ(3deg);
  }
  60% {
    transform: translate(0, -5px) scale(1.1) rotateZ(-3deg);
  }
  70% {
    transform: translate(0, -5px) scale(1.1) rotateZ(3deg);
  }
  90% {
    transform: translate(0, -5px) scale(1) rotateZ(0);
  }
  100% {
    transform: translate(0, 0px) scale(1) rotateZ(0);
  }
}

.text-success {
  color: var(--result-crit-background, var(--light-result-crit-background));
}

.text-fail {
  color: var(--result-fail-background, var(--light-result-fail-background));
}

.text-freeze {
  color: var(--result-freeze-background, var(--light-result-freeze-background));
}

.freeze {
  --result-background: var(--result-freeze-background, var(--light-result-freeze-background));
  --result-color: var(--result-freeze-color, var(--light-result-freeze-color));
  --result-border-start: var(--result-freeze-border-start, var(--light-result-freeze-border-start));
  --result-border-end: var(--result-freeze-border-end, var(--light-result-freeze-border-end));
  --result-background-lower: var(
    --result-freeze-background-lower,
    var(--light-result-freeze-background-lower)
  );
}

.modifier {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  display: grid;
  place-items: center;
  background: var(--modifier-background, #ddd);
  color: var(--modifier-color, --light-text-color);
  font-weight: 900;
  font-size: 1.75rem;
  box-shadow: inset 0 0.125rem 0.5rem rgba(0, 0, 0, 0.4);
}

@media (orientation: landscape) {
  .settings__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .settings__item:nth-child(even) {
    border-inline-start: 1px solid var(--btn-border-dark, var(--light-btn-border-dark));
  }
}

.settings__item {
  display: flex;
  flex-direction: var(--settings-item-direction, column);
  justify-content: center;
  padding: 1.5rem;
  border-block-end: 1px solid var(--btn-border-dark, var(--light-btn-border-dark));
}

.settings__item--inline {
  --settings-item-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Transition Animations */
.v-enter-active,
.v-leave-active {
  transition: opacity 350ms ease;
  pointer-events: none;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.icon {
  width: 100%;
}

.w-1 {
  width: 1rem;
}

.w-2 {
  width: 2rem;
}
